body {
  background-color: red;

}

.main {
  display: flex;
  flex: 1;
  height: 100vh; /*might not be needed*/
  width:100%;
}

/*left panel*/
.left{
  flex:1; /* 1:4 ratio. look at class below*/
  max-width:20%;
  background-color:rgb(100, 57, 150);
}

/*big right panel*/
.right {
  flex: 5; /*play with this to change width ratio. this will be 4:1 ratio*/
  background-color: white;
  display: flex;
  
}

/*NavBar*/
.right-top {
  max-height: 20px;
  position: fixed;
  z-index: 99;
  right: 0px;
  background:rgb(130, 209, 209);
  width:50%;
}

#saint2{
  transform: rotate(90deg);
  white-space: nowrap;
  font-size:70px;
  position: absolute; 
  left: -170px;
  letter-spacing: 40px;
  color:rgb(192, 173, 173);
  font-weight: bold; 
  top:44%;
  
}
/*Content*/
.right-bottom{
  flex:2;
  display: flex;
  overflow:hidden;
  background-color:rgb(13, 228, 49);
  justify-content: flex-end;
  position: relative;
}