html{
  scroll-behavior: smooth;
}
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: rgb(150,62,42);
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}
.covid{
  width:100%;
  height:30px;
  background:rgb(187, 54, 54);
  color:rgb(236, 228, 228);
  padding:5px;
  text-align: center;
  font-size: 14px;
  word-spacing: 5px;
}

#up{
  widows: 20px;
  height:20px;
}

body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Serif', serif;
  background:rgb(26, 25, 25);
}

nav{
  position:sticky;
  top:0;
  z-index:5;
}

.navbar{
  display:flex;
  list-style: none;
  /*justify-content: space-around;*/
  padding:0;
  margin:0;
  background:rgb(242,239,234);
  height:10vh;
  font-size: 15px;
  align-items: center;
}

#heart{
  width:20px;
  height:20px;
}

button{
  outline: none;
  background:rgb(20, 20, 20);
  color:rgb(238, 228, 228);
  border: none;
  padding:10px;
  border-radius: 3px;
}

.navbar li{
  margin:10px;
}

a{
  color: rgb(17, 17, 17);
}

a:hover{
  text-decoration: none;
  color:rgb(150,62,42);
}
#logo{
  font-size:35px;
  font-family: 'Abril Fatface', cursive;
  margin-left:10%;
}

#icon{
  height:12px;
  width:12px;
}

.App{
  display:flex;
  background-color: white;
  flex-grow: 1;
}

.first{
  flex-grow:2;
  height:90vh;
  background:url("../images/4.png");
  background-size: cover;
  display:flex;
  align-items: center;
  font-family: 'Muli', sans-serif;
  transition: 1s;
}

#newin{
  font-size: 40px;
  margin-left:20px;
}

.mid{
  flex-grow:1;
  display: flex;
  flex-direction: column;
}

.top{
  flex-grow: 1;
  background:url("../images/3.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Muli', sans-serif;
  transition: 1s;
}
.bottom{
  flex-grow: 1;
  background:url("../images/5.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Muli', sans-serif;
  transition: 1s;
}

.last{
  flex-grow:2;
  background:url("../images/2.jpg");
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: right;
  font-family: 'Muli', sans-serif;
  transition:1s;
}

#hr-first{
  width:30%;
  height:5px;
  background:black;
  border:none;
  padding:0;
  margin:0;
}

#hr-last{
  top:10%;
  width:30%;
  height:2px;
  background:black;
  border:none;
  padding:0;
  margin:0;
}

#plus{
  margin-left:20px;
}

h2{
  letter-spacing: 10px;
}

.search-container {
  margin-left:23%;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background:rgb(247, 245, 243);
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

#search{
  height:15px;
  width:15px;
}

.first:hover{
  background:rgb(138,139,133);
}

.top:hover{
  background:rgb(150,62,42);
}

.bottom:hover{
  background:rgb(150,62,42);
}

.last:hover{
  background:rgb(138,139,133);
}

.Coming-Soon{
  background-size: cover;
  /*flex-grow:2;*/
  min-height:90vh;
  width:100%;

}

#back{
  height:90vh;
  width:50%;
}

.footer{
  background:rgb(26, 25, 25);
  color:rgb(240, 234, 234);
  display:flex;
  justify-content: center;
  align-items: center;
  min-height:40vh;
  flex:1;
  overflow:hidden;
  /*align-items: center;*/
  position: relative;
}

#footer{
  list-style: none;
  padding-right:60px;
  font-size: 14px;
}

#footer-p{
  font-size: 14px;
}

#rights{
  text-align: center;
  color:rgb(241, 237, 237);
  font-size: 12px;
}
.Featured{
  background:rgb(207, 205, 205) ;
  min-height:50vh;
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;
  flex:1;
  overflow:hidden;
  /*align-items: center;*/
  position: relative;
}


.features{
  background:pink;
  width:20%;
  height:40vh;
  margin-right:10px;
  margin-left:10px;
}

#itis{
  height:90vh;
  width:50%;
  float:left;
  display:flex;
  background:black;
}

.collection{
  float:right;
  background:orange;
  width:50%;
  height:90vh;
  padding:0;
  margin:0;
}

.left{
  float:left;
 /* width:50%;*/
  height:90vh;
  display:flex;
  flex:1;
  background:rgb(77,73,72);
  /*flex-grow:1;*/
  min-width:20%;
  color:rgb(233, 229, 229);
  font-family: 'Muli', sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.right{
  /*float:right;*/
 /* width:50%;*/
  height:90vh;
  display:flex;
  flex:2;
  background:rgb(228,228,228) ;
  /*background-size: cover;*/
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  flex-direction: column;

}

.right-inner{
  display:flex;
  width:20%;
  height:70vh;
  margin-left:20px;
  flex:1;
  /*overflow:hidden;*/
  justify-content: flex-start;
  /*align-items: center;*/
  position: relative;
  /*background-color:rgb(226, 190, 29);*/
  max-width:20%;
  
}



#header{
  font-size: 30px;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

#description{
  font-family: 'Noto Serif', serif;
  text-align: center;
  padding:20px;
  display:flex;
  flex-direction:column;
}

.new{
  display:flex;
  flex-direction:row;
  width:25%;
  height:10vh;
  background:rgb(150,62,42);
  justify-content: center;
  align-items: center;
  margin-right:55%;
  top:5%;
  position:relative;
  font-size: 30px;
  letter-spacing: 5px;
  z-index:1;
  color:rgb(233, 229, 229);
}

.newer{
  display:flex;
  flex-direction:row;
  width:25%;
  height:10vh;
  background:rgb(150,62,42);
  justify-content: center;
  align-items: center;
  margin-left:55%;
  bottom:5%;
  position:relative;
  font-size: 30px;
  letter-spacing: 5px;
  z-index:1;
  color:rgb(233, 229, 229)
}

#soon-hero{
  width:100%;
  height:65vh;
}

.carousel{
  width:60%;
  height:65vh;
}

.gallery{
  display:flex;
  flex:1;
  background:rgb(201,184,141);
  min-height:90vh;
  flex-direction: row !important;
}

#feature-img{
  width:100%;
  height:40vh;
}

#customer-txt{
  background:rgb(150,62,42);
  padding:10px;
  color:rgb(228, 225, 225);
  text-align: center;
  width:12%;
}
